<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--xml 파일 작성법-->
<mapper namespace="com.sesac.sesacspring.mapper.BoardMapper">
    <select id="getBoardAll"
            resultType="com.sesac.sesacspring.domain.Board">
        SELECT user.* FROM board
    </select>
    <insert id="insertBoard" parameterType="com.sesac.sesacspring.domain.Board">
        INSERT INTO board(title,content,writer)
        VALUES(#{title}, #{content}, #{writer})
    </insert>
</mapper>